{% extends "base.html.twig" %}

{% block title %}
	{{category.name}}
	- Programs
{% endblock %}
{% block body %}


	<h1 class="my-5">Toutes les séries de la categorie
		{{category.name}}
		:</h1>

	{% for program in programs %}

		<div class="mb-5">

			<a href="{{ path("program_show", { id: program.id }) }}">
				<h2>{{ loop.index }}
					/
					{{ program.title }}
				</h2>
			</a>

			<p>{{ program.summary }}</p>


		</div>

	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('category_index') }}">
		Retour aux catégories
	</a>


{% endblock %}
