{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	-
	{{category.name}}
{% endblock %}
{% block body %}

	<section class="container mt-5">
		<h1 class="my-5">Toutes les séries de la categorie
			{{category.name}}
			:</h1>

		{% for program in programs %}

			<div class="mb-5">

				<a href="{{ path("program_show", { program: program.id }) }}">
					<h2>{{ loop.index }}
						/
						{{ program.title }}
					</h2>
				</a>

				<p>{{ program.summary }}</p>


			</div>

		{% else %}
			Aucune série trouvée.
		{% endfor %}

		<a href="{{ path('category_index') }}">
			Retour aux catégories
		</a>

	</section>

{% endblock %}
